@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

.home {
  display: flex;
  justify-content: stretch;
  height: 100vh;
}
.home .left {
  background: #000;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;
}
.home .right {
  width: 50%;
  padding: 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home .left img {
  width: 120px;
  height: 90px;
}
.home .left h1 {
  font-size: 60px;
  font-family: "Poppins";
  background: -webkit-linear-gradient(#ffffff, #8d8d8d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home .left p {
  font-family: "Poppins";
  font-weight: 400;
  border: 3px solid #fff;
  margin-left: -25px;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 31.6px;
  margin-top: 10px;
  width: 390px;
  text-wrap: nowrap;
  animation: fade 3s;
}
.home .right {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("Home.png");
  filter: saturate(150%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.home .right button {
  padding: 10px 20px;
  background: #05485f;
  border: none;
  color: #fff;
  text-transform: uppercase;
  margin-top: 40px;
  font-weight: bold;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home .right h1 {
  margin-bottom: 40px;
  font-weight: 900;
  font-family: "Poppins";
  line-height: 48px;
  width: 390px;
  text-align: center;
  font-size: 40px;
}
.home .left span {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  margin-top: 10px;
  margin-left: -70px;
  animation: scratch 2s;
}
.home .right p {
  font-size: 20px;
  font-family: "Poppins";
  filter: drop-shadow(0 0 20px #0000003c);
}
.countdown {
  margin-top: 20px;
  font-size: 30px;
  font-family: "Poppins";
}
@keyframes scratch {
  from {
    transform: translateX(-320px);
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 680px) {
  .home {
    flex-direction: column;
  }
  .home .left {
    width: 100%;
    padding: 1rem 0;
    height: 45%;
  }
  .home .right {
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 2rem 7rem;
    height: 55%;
  }
  .home .right h1 {
    margin-bottom: 10px;
    font-weight: 900;
    width: 300px;
    font-family: "Poppins";
    line-height: 50px;
  }
  .home .right p {
    font-size: 20px;
    font-family: "Poppins";
    filter: drop-shadow(0 0 20px #0000003c);
  }
  .home .right button {
    padding: 10px 20px;
    background: #05485f;
    border: none;
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  .home .left h1 {
    font-size: 50px;
    font-family: "Poppins";
  }
  .home .left p {
    font-family: "Poppins";
    font-weight: 400;
    border: 3px solid #fff;
    margin-left: -25px;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 25px;
    margin-top: 10px;
    width: 300px;
    text-wrap: nowrap;
    animation: fade 3s;
  }
  .home .left span {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    margin-top: 10px;
    margin-left: -55px;
    animation: scratch 2s;
  }
  .countdown {
    margin-top: 15px;
    font-size: 20px;
    font-family: "Poppins";
  }
  .home .left img {
    width: 110px;
    height: 90px;
  }
}
